/*
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);
*/

@font-face {
	font-family: FFFForward;
	local: FFFForward;
	src: url(../fonts/FFFForward.ttf);
}

body{
	font-family: FFFForward, "Amatic SC";
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.url{
	font-family: Helvetica, Arial, sans-serif;
}

#canvas {
	z-index: 10;
}

body.server,
body.client {
	background-color: #000;
	color: white;
}

#area{
	position: absolute;
	top: 80px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #EADCB7;
}

#info{
	height: 100px;
	width: 140px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px -70px;
	white-space: pre;
	font-size: 22px;
}

#title{
	font-size: 38px;
	margin: 10px 10px;
  margin-top: 20px;
  margin-left: 14px;
}


#footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 2rem;
	height: 70px;
	width: 100%;
	z-index: 1;
	padding: 0 27px;
	box-sizing: border-box;
}


img#th_logo {
	height: 100%;
	float: right;
}

img#viel_drin {
	height: 100%;
	right: 0;
	margin-left: 30px;
	float: right;
}



#qrcode_container{
	position: absolute;
	top:50%;
	left:0;
	width: 100%;
}

#qrcode_left,
#qrcode_right {
	text-align: center;
	width: 50%;
	display: inline-block;
	margin: -25% 0;
	opacity: 1;

	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}

#qrcode_left.hidden,
#qrcode_right.hidden {
	opacity: 0;
}
